// Universal border variable
$border: 1px solid black;
$border2: 0.5px solid black;
// Color scheme variables
$color1: #d8bd8a;
$color2: #270c01;
$color3: #e4d9c3;
// $quoteFontSize: 2.5rem;

// importing fonts from fonts.google.com
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

html {
  height: 100%;
}
body {
  background-color: $color1;
  // min-height: 100vh;
  // width: 100%;
  height: 100%;
  margin: 0;
}
header {
  background-color: $color2;
  box-sizing: border-box;
  border: $border;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;

  // margin: 2em;
}
.name {
  margin-left: 2em;
}
footer {
  background-color: $color3;
  box-sizing: border-box;
  border: $border;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color2;
  grid-area: footer;
  a {
    color: $color2;
  }
}
nav {
  height: 100%;
}
ul {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 1.5em;
}
li {
  list-style-type: none;
  display: inline;
  margin: 0 0.5em;
}

a {
  text-decoration: none;
  color: $color3;
}
a:hover {
  text-decoration: underline;
}
hr {
  border-color: $color2;
}
.index-container {
  box-sizing: border-box;
  height: 100%;
  border: $border;
  background-color: $color3;
  margin: 2em 3em;
  display: grid;
  grid-template-columns: 25% 1fr 1fr;
  grid-template-rows: 4em 1fr 1fr 4em;
  grid-template-areas:
    "header header header"
    ". index-quote ."
    "index-image index-bio index-bio"
    "footer footer footer";
  header {
    color: $color3;
    box-sizing: border-box;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  .index-quote {
    grid-area: index-quote;
    display: flex;
    // pushes quote citation below quote
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    // color: $color2;
    q {
      font-size: 3rem;
    }
    p {
      font-size: 1rem;
    }
  }

  .index-bio {
    box-sizing: border-box;
    grid-area: index-bio;
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 6em solid $color2;
    border-top-width: 4em;
    border-bottom-width: 4em;
    border-left: none;
    // color: $color2;
  }

  .index-image {
    box-sizing: border-box;
    // border: 6em solid $color2;
    border-top-width: 4em;
    border-bottom-width: 4em;
    border-right: none;
    grid-area: index-image;
    img {
      // make image fit container and avoids losing it when window shrinks
      box-sizing: border-box;
      border: $border;
      width: 100%;
    }
  }

  footer {
    border-bottom: none;
    border-left: none;
    border-right: none;
    // color: $color2;
    // a {
    //   // color: $color2;
    // }
  }
}

.about-container {
  height: fit-content;
  background-color: $color2;
  border: $border2;
  border-bottom: none;
  margin: 2em 3em 3em 3em;
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr;
  grid-template-rows: 4em 15% repeat(3, 1fr) 4em;
  grid-template-areas:
    "header"
    "about-heading"
    "about-drum"
    "about-ultimate"
    "about-yoga"
    "footer";
  .name {
    color: $color2;
  }
  a {
    color: $color2;
  }
  img {
    // helps image fit in container
    max-width: 100%;
    height: fit-content;
    margin: 0.5em;
  }
  section {
    margin: 1em;
  }
  header {
    background-color: $color3;
  }
  .about-heading {
    background-color: $color2;
    color: $color3;
    grid-area: about-heading;
    // box-sizing: border-box;
    // border: $border;
    // margin: 2em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .about-drum {
    grid-area: about-drum;
    background-color: $color3;
    // grid-area: about-drum;
    border: 10px solid $color3;
    box-sizing: border-box;
    margin: 1em 4em;
  }
  .inner-drum {
    display: flex;
    border: 20px solid $color2;
  }

  .about-ultimate {
    background-color: $color3;
    grid-area: about-ultimate;
    border: $border;
    display: flex;
    box-sizing: border-box;
    height: fit-content;
    margin: 1em 4em;
    img {
      max-width: 300px;
      height: fit-content;
    }
  }
  .about-yoga {
    background-color: $color3;
    grid-area: about-yoga;
    border: $border;
    display: flex;
    box-sizing: border-box;
    height: fit-content;
    margin: 1em 4em;
  }
  footer {
    .name {
      color: $color2;
    }
    a {
      color: $color2;
    }
  }
}

// .portfolio-header {
//   height: 3.5em;
//   margin: 1em 1em 0 1em;
//   color: $color3;
// }
// .portfolio-footer {
//   height: 3.5em;
//   margin: 0 1em 1em 1em;
// }
.container-portfolio {
  height: fit-content;
  margin: 2em 3em;
  border: $border2;
  box-sizing: border-box;
  // Basic formatting for all container divs on each page
  background-color: $color3;
  // Set div display value to flex
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 4em repeat(2, 1fr) 4em; 
  grid-template-areas:
  "header header header"
    "portfolio-1 portfolio-2 portfolio-3"
    "portfolio-4 portfolio-5 portfolio-6"
    "footer footer footer";
  // With formatting, places name and links at opposite ends of the header
  justify-content: space-between;
  // margin: 0 1em;
  // color: $color2;
  // font-family: EB garamond, sans-serif;
header{
  color:$color3;
}
  // styling of portfolio page images and each portfolio div container
  img {
    border: $border;
    margin-top: 10%;
    width: 250px;
    height: 200px;
  }
  div {
    border: $border;
    border-width: 0.5px;
  }
  // loop to add padding individual portfolio box
  @for $i from 1 through 6 {
    #portfolio-#{$i} {
      padding: 2%;
      grid-area: portfolio-#{$i};
      margin: 1em 2em;
      color: $color3;
      background-color: $color2;
      // overflow: auto;
    }
  }
  // bottom border added to underline portfolio headers
  h2 {
    max-width: fit-content;
    border-bottom: $border;
  }
}
