// Universal border variable
$border: 1px solid black;
// Color scheme variables
$color1: #d8bd8a;
$color2: #270c01;
$color3: #e4d9c3;
// $quoteFontSize: 2.5rem;

// importing fonts from fonts.google.com
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

body {
//   background-color: $color1;
  min-height: 100vh;
  width: 100%;
 }
header {
  // background-color: $color2;
  box-sizing: border-box;
  border: $border;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin: 2em;
}
footer {
  // background-color: $color3;
  box-sizing: border-box;
  border: $border;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin: 2em;
}
nav {
  height: 100%;
}
ul {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
li {
  list-style-type: none;
  display: inline;
  margin: 0 0.5em;
}

a {
  text-decoration: none;
  // color:$color3
}
a:hover {
  text-decoration: underline;
}
.index-container {
  box-sizing: border-box;
  min-height: 100vh;
  border: $border;
  // background-color: $color3;
  margin: 1em;
  display: grid;
  grid-template-columns: 25% 1fr 1fr;
  grid-template-rows: 3.5em 1fr 1fr 3.5em;
  grid-template-areas:
    "header header header"
    ". index-quote ."
    "index-image index-bio index-bio"
    "footer footer footer";
  header {
    grid-area: header;
    // color: $color3;
    box-sizing: border-box;
  }

  .index-quote {
    grid-area: index-quote;
    display: flex;
    // pushes quote citation below quote
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    // color: $color2;
    q {
      font-size: 3rem;
    }
    p {
      font-size: 1rem;
    }
  }

  .index-bio {
    box-sizing: border-box;
    grid-area: index-bio;
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 6em solid $color2;
    border-top-width: 4em;
    border-bottom-width: 4em;
    border-left: none;
    // color: $color2;
  }

  .index-image {
    box-sizing: border-box;
    // border: 6em solid $color2;
    border-top-width: 4em;
    border-bottom-width: 4em;
    border-right: none;
    grid-area: index-image;
    img {
      // make image fit container and avoids losing it when window shrinks
      box-sizing: border-box;
      border: $border;
      width: 100%;
    }
  }

  footer {
    grid-area: footer;
    // color: $color2;
    // a {
    //   // color: $color2;
    // }
  }
}

.about-container {
  border: $border;
  border-bottom: none;
  margin: 1em;
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr;
  grid-template-rows: 5% 15% repeat(3, 1fr) 5%;
  grid-template-areas:
    "header"
    "about-heading"
    "about-drum"
    "about-ultimate"
    "about-yoga"
    "footer";
  header {
    grid-area: header;
  }
  img {
    // helps image fit in container
    max-width: 100%;
    height: fit-content;
    margin: .5em;
    
  }
  section{
    margin: 1em;
  }
  .about-heading {
    grid-area: about-heading;
    box-sizing: border-box;
    border: $border;
    margin: 2em;
    display: flex;
    align-items:flex-end;
    justify-content: center;
  }
  .about-drum {
    grid-area: about-drum;
    border: $border;
    display: flex;
    box-sizing: border-box;
    margin: 1em 2em;
  }

  .about-ultimate {
    grid-area: about-ultimate;
    border: $border;
    display: flex;
    box-sizing: border-box;
    height: fit-content;
    margin: 1em 2em;
    img {
      max-width: 300px;
      height: fit-content;
    }
  }
  .about-yoga {
    grid-area: about-yoga;
    border: $border;
    display: flex;
    box-sizing: border-box;
    height: fit-content;
    margin: 1em 2em;
  }
  footer{
    grid-area: footer;
  }
}
