@import url("https://fonts.googleapis.com/css2?family=Courgette&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
html {
  height: 100%;
}
@media only screen and (max-width: 300px) {
  html {
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media only screen and (max-width: 300px) and (max-width: 992px) {
  html {
    width: 100%;
  }
}

body {
  background-color: #dfc39a;
  height: 100%;
  margin: 0;
}

header {
  background-color: #121105;
  box-sizing: border-box;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
}

.name {
  font: 1.5em EB garamond, serif;
  margin-left: 6em;
  /* Large devices (laptops/desktops) */
  /* Medium devices (tablets) */
}
@media only screen and (max-width: 992px) {
  .name {
    font-size: 1.25em;
  }
}
@media only screen and (max-width: 768px) {
  .name {
    margin-left: 2em;
  }
}
@media only screen and (max-width: 300px) {
  .name {
    font-size: 1em;
    margin-right: -1em;
    margin-left: 0.5em;
  }
}

footer {
  background-color: #121105;
  box-sizing: border-box;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e4d9c3;
  grid-area: footer;
}
footer a {
  color: #e4d9c3;
}

nav {
  height: 100%;
}

ul {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 1.5em;
}

li {
  height: 100%;
  list-style-type: none;
  padding: 0 0.5em;
  margin: 0 0.5em;
}
@media only screen and (max-width: 300px) {
  li {
    padding: 0;
    margin: 0.25em;
  }
}

li:hover {
  background-color: #5c7c07;
}

a {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: #e4d9c3;
  font: 1.5em EB garamond, serif;
  /* Large devices (laptops/desktops) */
  /* Medium devices (tablets) */
}
@media only screen and (max-width: 992px) {
  a {
    font-size: 1.25em;
  }
}
@media only screen and (max-width: 768px) {
  a {
    font-size: 1.25em;
  }
}
@media only screen and (max-width: 300px) {
  a {
    font-size: 1em;
  }
}

a:hover {
  text-decoration: underline;
}

hr {
  border-color: #121105;
}

.index-container {
  box-sizing: border-box;
  border: 1px solid black;
  background-color: #e4d9c3;
  margin: 2em 3em;
  display: grid;
  grid-template-columns: 25% 1fr 1fr;
  grid-template-rows: 4em 1fr 1fr 4em;
  grid-template-areas: "header header header" "index-quote index-quote index-quote" "index-image index-bio index-bio" "footer footer footer";
  color: #121105;
}
@media only screen and (min-width: 300px) {
  .index-container {
    width: 92%;
  }
}
.index-container header {
  color: #e4d9c3;
  border-top: none;
  border-left: none;
  border-right: none;
}
.index-container .index-quote {
  grid-area: index-quote;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 4em 8em 0;
  /* Medium devices (tablets) */
}
.index-container .index-quote q {
  font: italic 900 4em EB Garamond, serif;
  /* Large devices (laptops/desktops) */
  /* Medium devices (tablets) */
}
@media only screen and (max-width: 992px) {
  .index-container .index-quote q {
    font: italic 700 4em EB Garamond, serif;
  }
}
@media only screen and (max-width: 768px) {
  .index-container .index-quote q {
    font: italic 600 3.5em EB Garamond, serif;
  }
}
@media only screen and (max-width: 300px) {
  .index-container .index-quote q {
    font-size: 1.75em;
    margin-left: -1.5em;
  }
}
@media only screen and (max-width: 768px) {
  .index-container .index-quote {
    margin: 2em 1em 0 3.5em;
  }
}
.index-container .index-bio {
  grid-area: index-bio;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4em;
  font: 500 2.5em EB Garamond, serif;
  /* Medium devices (tablets) */
}
.index-container .index-bio #hello {
  font: 600 2em EB Garamond, serif;
}
@media only screen and (max-width: 768px) {
  .index-container .index-bio {
    margin: -2em 0 0 1em;
    font: 500 1.75em EB Garamond, serif;
  }
}
@media only screen and (max-width: 300px) {
  .index-container .index-bio {
    margin: 0.25em 0 0 2em;
    font: 400 1.25em EB Garamond, serif;
  }
}
.index-container .index-image {
  grid-area: index-image;
  /* Large devices (laptops/desktops) */
  /* Medium devices (tablets) */
}
.index-container .index-image img {
  box-sizing: border-box;
  border: 1px solid black;
  width: 100%;
}
@media only screen and (max-width: 992px) {
  .index-container .index-image {
    margin-top: 2em;
  }
}
@media only screen and (max-width: 768px) {
  .index-container .index-image {
    width: calc(100% + 50px);
    height: auto;
    margin-top: 3em;
    margin-left: -1em;
  }
}
@media only screen and (max-width: 300px) {
  .index-container .index-image {
    width: calc(100% + 100px);
    margin-left: -2em;
  }
}
.index-container footer {
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.about-container {
  height: -moz-fit-content;
  height: fit-content;
  background-color: #121105;
  color: #121105;
  border: 0.5px solid black;
  border-bottom: none;
  margin: 2em 3em 3em 3em;
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr;
  grid-template-rows: 4em 5% repeat(3, 1fr) 4em;
  grid-template-areas: "header" "about-heading" "about-drum" "about-ultimate" "about-yoga" "footer";
  /* Medium devices (tablets) */
}
@media only screen and (max-width: 992px) {
  .about-container {
    gap: 0em;
  }
}
@media only screen and (max-width: 768px) {
  .about-container {
    width: 92%;
    margin-left: 2em;
  }
}
.about-container .name {
  color: #121105;
}
.about-container a {
  color: #121105;
  height: 100%;
}
.about-container img {
  max-width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0.5em;
}
@media only screen and (max-width: 768px) {
  .about-container img {
    max-width: 80%;
  }
}
.about-container section {
  margin: 1em;
}
.about-container header {
  background-color: #e4d9c3;
}
.about-container .about-heading {
  background-color: #121105;
  font: 2.25em EB Garamond, serif;
  color: #e4d9c3;
  grid-area: about-heading;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 4em 0 0;
  /* Medium devices (tablets) */
}
@media only screen and (max-width: 768px) {
  .about-container .about-heading {
    text-align: center;
    font-size: 1.75em;
    margin: 6em 2em 1em;
  }
}
@media only screen and (max-width: 300px) {
  .about-container .about-heading {
    font-size: 1.25em;
  }
}
@media only screen and (max-width: 992px) {
  .about-container .about-heading {
    text-align: center;
    font-size: 2em;
    margin: 6em 2em 4em;
  }
}
.about-container .about-drum {
  grid-area: about-drum;
  background-color: #e4d9c3;
  box-sizing: border-box;
  border: 10px solid #e4d9c3;
  height: -moz-fit-content;
  height: fit-content;
  margin: 1em 4em;
}
@media only screen and (max-width: 992px) {
  .about-container .about-drum {
    margin-top: 4em;
  }
}
.about-container .inner-drum {
  display: flex;
  box-sizing: border-box;
  border: 20px solid #121105;
  font: 1.5em EB Garamond, serif;
  /* Medium devices (tablets) */
}
@media only screen and (max-width: 768px) {
  .about-container .inner-drum {
    font-size: 1em;
  }
}
@media only screen and (max-width: 300px) {
  .about-container .inner-drum {
    display: flex;
    flex-direction: column;
  }
}
.about-container .about-ultimate {
  background-color: #e4d9c3;
  grid-area: about-ultimate;
  display: flex;
  box-sizing: border-box;
  border: 10px solid #e4d9c3;
  height: -moz-fit-content;
  height: fit-content;
  margin: -2em 4em;
  /* Large devices (laptops/desktops) */
}
.about-container .about-ultimate img {
  max-width: 300px;
  height: -moz-fit-content;
  height: fit-content;
}
@media only screen and (max-width: 992px) {
  .about-container .about-ultimate {
    margin-top: -8em;
  }
}
@media only screen and (max-width: 768px) {
  .about-container .about-ultimate {
    margin-top: -13.75em;
  }
}
.about-container .inner-ultimate {
  display: flex;
  box-sizing: border-box;
  border: 20px solid #121105;
  font: 1.5em EB Garamond, serif;
}
@media only screen and (max-width: 768px) {
  .about-container .inner-ultimate {
    font-size: 1em;
  }
}
@media only screen and (max-width: 300px) {
  .about-container .inner-ultimate {
    display: flex;
    flex-direction: column;
  }
}
.about-container .about-yoga {
  background-color: #e4d9c3;
  grid-area: about-yoga;
  display: flex;
  box-sizing: border-box;
  border: 10px solid #e4d9c3;
  height: -moz-fit-content;
  height: fit-content;
  margin: -2em 4em;
  /* Large devices (laptops/desktops) */
}
@media only screen and (max-width: 768px) {
  .about-container .about-yoga {
    margin-top: -17.5em;
  }
}
@media only screen and (max-width: 992px) {
  .about-container .about-yoga {
    margin-top: -12em;
  }
}
.about-container .inner-yoga {
  display: flex;
  box-sizing: border-box;
  border: 20px solid #121105;
  font: 1.5em EB Garamond, serif;
}
@media only screen and (max-width: 768px) {
  .about-container .inner-yoga {
    font-size: 1em;
  }
}
@media only screen and (max-width: 300px) {
  .about-container .inner-yoga {
    display: flex;
    flex-direction: column;
  }
}
.about-container footer {
  background-color: #e4d9c3;
}

.portfolio-container {
  height: -moz-fit-content;
  height: fit-content;
  margin: 2em 3em;
  border: 0.5px solid black;
  box-sizing: border-box;
  background-color: #e4d9c3;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 4em repeat(3, 1fr) 4em;
  grid-template-areas: "header header" "portfolio-1 portfolio-2" "portfolio-3 portfolio-4" "portfolio-5 portfolio-6" "footer footer";
  justify-content: space-between;
}
.portfolio-container header {
  color: #e4d9c3;
}
.portfolio-container img {
  box-sizing: border-box;
  border: 10px solid #e4d9c3;
  border-width: 2px;
  width: 45%;
  height: auto;
}
@media only screen and (max-width: 992px) {
  .portfolio-container img #port-image-4 {
    width: 100%;
  }
}
.portfolio-container #portfolio-1 {
  min-height: 350px;
  padding: 0.5em;
  grid-area: portfolio-1;
  margin: 0.25em;
  color: #e4d9c3;
  font-family: EB Garamond, serif;
  background-color: #121105;
  box-sizing: border-box;
  border: 1px solid black;
  /* Large devices (laptops/desktops) */
}
@media only screen and (max-width: 992px) {
  .portfolio-container #portfolio-1 {
    text-wrap: balance;
    display: flex;
  }
}
.portfolio-container #outer-portfolio-4 {
  /* Large devices (laptops/desktops) */
}
@media only screen and (max-width: 992px) {
  .portfolio-container #outer-portfolio-4 {
    margin-top: -1em;
  }
}
.portfolio-container #outer-portfolio-5 {
  margin-top: -1.75em;
  /* Large devices (laptops/desktops) */
}
@media only screen and (max-width: 992px) {
  .portfolio-container #outer-portfolio-5 {
    margin-top: -3em;
  }
}
.portfolio-container #outer-portfolio-6 {
  margin-top: -1.75em;
  /* Large devices (laptops/desktops) */
}
@media only screen and (max-width: 992px) {
  .portfolio-container #outer-portfolio-6 {
    margin-top: -4.5em;
  }
}
.portfolio-container .outer-portfolio {
  height: -moz-max-content;
  height: max-content;
  box-sizing: border-box;
  margin: 1em 1em;
  border: 20px solid #121105;
  border-width: 10px;
}
.portfolio-container #portfolio-2 {
  min-height: 350px;
  padding: 0.5em;
  grid-area: portfolio-2;
  margin: 0.25em;
  color: #e4d9c3;
  font-family: EB Garamond, serif;
  background-color: #121105;
  box-sizing: border-box;
  border: 1px solid black;
  /* Large devices (laptops/desktops) */
}
@media only screen and (max-width: 992px) {
  .portfolio-container #portfolio-2 {
    text-wrap: balance;
    display: flex;
  }
}
.portfolio-container #outer-portfolio-4 {
  /* Large devices (laptops/desktops) */
}
@media only screen and (max-width: 992px) {
  .portfolio-container #outer-portfolio-4 {
    margin-top: -1em;
  }
}
.portfolio-container #outer-portfolio-5 {
  margin-top: -1.75em;
  /* Large devices (laptops/desktops) */
}
@media only screen and (max-width: 992px) {
  .portfolio-container #outer-portfolio-5 {
    margin-top: -3em;
  }
}
.portfolio-container #outer-portfolio-6 {
  margin-top: -1.75em;
  /* Large devices (laptops/desktops) */
}
@media only screen and (max-width: 992px) {
  .portfolio-container #outer-portfolio-6 {
    margin-top: -4.5em;
  }
}
.portfolio-container .outer-portfolio {
  height: -moz-max-content;
  height: max-content;
  box-sizing: border-box;
  margin: 1em 1em;
  border: 20px solid #121105;
  border-width: 10px;
}
.portfolio-container #portfolio-3 {
  min-height: 350px;
  padding: 0.5em;
  grid-area: portfolio-3;
  margin: 0.25em;
  color: #e4d9c3;
  font-family: EB Garamond, serif;
  background-color: #121105;
  box-sizing: border-box;
  border: 1px solid black;
  /* Large devices (laptops/desktops) */
}
@media only screen and (max-width: 992px) {
  .portfolio-container #portfolio-3 {
    text-wrap: balance;
    display: flex;
  }
}
.portfolio-container #outer-portfolio-4 {
  /* Large devices (laptops/desktops) */
}
@media only screen and (max-width: 992px) {
  .portfolio-container #outer-portfolio-4 {
    margin-top: -1em;
  }
}
.portfolio-container #outer-portfolio-5 {
  margin-top: -1.75em;
  /* Large devices (laptops/desktops) */
}
@media only screen and (max-width: 992px) {
  .portfolio-container #outer-portfolio-5 {
    margin-top: -3em;
  }
}
.portfolio-container #outer-portfolio-6 {
  margin-top: -1.75em;
  /* Large devices (laptops/desktops) */
}
@media only screen and (max-width: 992px) {
  .portfolio-container #outer-portfolio-6 {
    margin-top: -4.5em;
  }
}
.portfolio-container .outer-portfolio {
  height: -moz-max-content;
  height: max-content;
  box-sizing: border-box;
  margin: 1em 1em;
  border: 20px solid #121105;
  border-width: 10px;
}
.portfolio-container #portfolio-4 {
  min-height: 350px;
  padding: 0.5em;
  grid-area: portfolio-4;
  margin: 0.25em;
  color: #e4d9c3;
  font-family: EB Garamond, serif;
  background-color: #121105;
  box-sizing: border-box;
  border: 1px solid black;
  /* Large devices (laptops/desktops) */
}
@media only screen and (max-width: 992px) {
  .portfolio-container #portfolio-4 {
    text-wrap: balance;
    display: flex;
  }
}
.portfolio-container #outer-portfolio-4 {
  /* Large devices (laptops/desktops) */
}
@media only screen and (max-width: 992px) {
  .portfolio-container #outer-portfolio-4 {
    margin-top: -1em;
  }
}
.portfolio-container #outer-portfolio-5 {
  margin-top: -1.75em;
  /* Large devices (laptops/desktops) */
}
@media only screen and (max-width: 992px) {
  .portfolio-container #outer-portfolio-5 {
    margin-top: -3em;
  }
}
.portfolio-container #outer-portfolio-6 {
  margin-top: -1.75em;
  /* Large devices (laptops/desktops) */
}
@media only screen and (max-width: 992px) {
  .portfolio-container #outer-portfolio-6 {
    margin-top: -4.5em;
  }
}
.portfolio-container .outer-portfolio {
  height: -moz-max-content;
  height: max-content;
  box-sizing: border-box;
  margin: 1em 1em;
  border: 20px solid #121105;
  border-width: 10px;
}
.portfolio-container #portfolio-5 {
  min-height: 350px;
  padding: 0.5em;
  grid-area: portfolio-5;
  margin: 0.25em;
  color: #e4d9c3;
  font-family: EB Garamond, serif;
  background-color: #121105;
  box-sizing: border-box;
  border: 1px solid black;
  /* Large devices (laptops/desktops) */
}
@media only screen and (max-width: 992px) {
  .portfolio-container #portfolio-5 {
    text-wrap: balance;
    display: flex;
  }
}
.portfolio-container #outer-portfolio-4 {
  /* Large devices (laptops/desktops) */
}
@media only screen and (max-width: 992px) {
  .portfolio-container #outer-portfolio-4 {
    margin-top: -1em;
  }
}
.portfolio-container #outer-portfolio-5 {
  margin-top: -1.75em;
  /* Large devices (laptops/desktops) */
}
@media only screen and (max-width: 992px) {
  .portfolio-container #outer-portfolio-5 {
    margin-top: -3em;
  }
}
.portfolio-container #outer-portfolio-6 {
  margin-top: -1.75em;
  /* Large devices (laptops/desktops) */
}
@media only screen and (max-width: 992px) {
  .portfolio-container #outer-portfolio-6 {
    margin-top: -4.5em;
  }
}
.portfolio-container .outer-portfolio {
  height: -moz-max-content;
  height: max-content;
  box-sizing: border-box;
  margin: 1em 1em;
  border: 20px solid #121105;
  border-width: 10px;
}
.portfolio-container #portfolio-6 {
  min-height: 350px;
  padding: 0.5em;
  grid-area: portfolio-6;
  margin: 0.25em;
  color: #e4d9c3;
  font-family: EB Garamond, serif;
  background-color: #121105;
  box-sizing: border-box;
  border: 1px solid black;
  /* Large devices (laptops/desktops) */
}
@media only screen and (max-width: 992px) {
  .portfolio-container #portfolio-6 {
    text-wrap: balance;
    display: flex;
  }
}
.portfolio-container #outer-portfolio-4 {
  /* Large devices (laptops/desktops) */
}
@media only screen and (max-width: 992px) {
  .portfolio-container #outer-portfolio-4 {
    margin-top: -1em;
  }
}
.portfolio-container #outer-portfolio-5 {
  margin-top: -1.75em;
  /* Large devices (laptops/desktops) */
}
@media only screen and (max-width: 992px) {
  .portfolio-container #outer-portfolio-5 {
    margin-top: -3em;
  }
}
.portfolio-container #outer-portfolio-6 {
  margin-top: -1.75em;
  /* Large devices (laptops/desktops) */
}
@media only screen and (max-width: 992px) {
  .portfolio-container #outer-portfolio-6 {
    margin-top: -4.5em;
  }
}
.portfolio-container .outer-portfolio {
  height: -moz-max-content;
  height: max-content;
  box-sizing: border-box;
  margin: 1em 1em;
  border: 20px solid #121105;
  border-width: 10px;
}
.portfolio-container h2 {
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-bottom: 1px solid #e4d9c3;
}
@media only screen and (max-width: 992px) {
  .portfolio-container {
    grid-template-columns: 1fr;
    grid-template-rows: 4em repeat(6, 1fr) 4em;
    grid-template-areas: "header" "portfolio-1" "portfolio-2" "portfolio-3" "portfolio-4" "portfolio-5" "portfolio-6" "footer";
    gap: 0;
  }
  .portfolio-container section {
    margin-left: 1em;
  }
}

.contact-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 4em 1fr 4em;
  margin: 2em 3em;
  box-sizing: border-box;
  background-color: #e4d9c3;
  border: 0.5px solid black;
  color: #121105;
  /* Large devices (laptops/desktops) */
}
.contact-container header {
  grid-area: 1/1/2/span 3;
  color: #e4d9c3;
}
.contact-container form {
  grid-area: 2/2/3/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}
.contact-container form .name {
  display: flex;
  width: 100%;
  margin-bottom: 1em;
  margin-left: 0;
  font: 1.5em EB Garamond, serif;
}
.contact-container form .name #name {
  box-sizing: border-box;
  border: 2px solid #121105;
  border-radius: 5%;
  width: 25%;
  margin-left: 2.75em;
  padding: 0.5em;
  background-color: #f1f1f1;
}
.contact-container form .email {
  display: flex;
  margin-bottom: 1em;
  width: 100%;
  font: 1.5em EB Garamond, serif;
}
.contact-container form .email #email {
  box-sizing: border-box;
  border: 2px solid #121105;
  border-radius: 5%;
  width: 35%;
  margin-left: 3em;
  padding: 0.5em;
  background-color: #f1f1f1;
}
.contact-container form .message {
  margin-bottom: 1em;
  display: flex;
  width: 100%;
  font: 1.5em EB Garamond, serif;
}
.contact-container form .message #message {
  box-sizing: border-box;
  border: 2px solid #121105;
  border-radius: 5%;
  box-sizing: border-box;
  width: 50%;
  margin-left: 0.75em;
  padding: 1em 0.5em 10em;
  background-color: #f1f1f1;
}
.contact-container form #submit {
  box-sizing: border-box;
  border: 1px solid #121105;
  border-radius: 5%;
  margin-left: 5em;
  padding: 0.5em 2em;
  background-color: #5c7c07;
  font: 1.5em EB Garamond, serif;
  color: #e4d9c3;
}
.contact-container form #submit:hover {
  background-color: #121105;
}
.contact-container footer {
  grid-area: 3/1/3/span 3;
}
@media only screen and (max-width: 992px) {
  .contact-container form {
    margin: -5em 0 0 -2em;
  }
}

.success {
  background-color: #dfc39a;
  display: flex;
  justify-content: center;
  color: #121105;
  font: 10em EB garamond, serif;
}/*# sourceMappingURL=style.css.map */