@import url("https://fonts.googleapis.com/css2?family=Courgette&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
html {
  height: 100%;
}

body {
  background-color: #dfc39a;
  height: 100%;
}

header {
  background-color: #121105;
  box-sizing: border-box;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
}

.name {
  font: 1.5em EB garamond, serif;
  margin-left: 6em;
}

footer {
  background-color: #121105;
  box-sizing: border-box;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e4d9c3;
  grid-area: footer;
}
footer a {
  color: #e4d9c3;
}

nav {
  height: 100%;
}

ul {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 1.5em;
}

li {
  height: 100%;
  list-style-type: none;
  padding: 0 0.5em;
  margin: 0 0.5em;
}

li:hover {
  background-color: #5c7c07;
}

a {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: #e4d9c3;
  font: 1.5em EB garamond, serif;
}

a:hover {
  text-decoration: underline;
}

hr {
  border-color: #121105;
}

.index-container {
  box-sizing: border-box;
  height: calc(100% - 2em);
  border: 1px solid black;
  background-color: #e4d9c3;
  margin: 2em 3em;
  display: grid;
  grid-template-columns: 25% 1fr 1fr;
  grid-template-rows: 4em 1fr 1fr 4em;
  grid-template-areas: "header header header" "index-quote index-quote index-quote" "index-image index-bio index-bio" "footer footer footer";
  color: #121105;
}
.index-container header {
  color: #e4d9c3;
  border-top: none;
  border-left: none;
  border-right: none;
}
.index-container .index-quote {
  grid-area: index-quote;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 4em 8em 0;
}
.index-container .index-quote q {
  font: italic 900 4rem EB Garamond, serif;
}
.index-container .index-bio {
  grid-area: index-bio;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4em;
  font: 500 2.5em EB Garamond, serif;
}
.index-container .index-bio #hello {
  font: 600 2em EB Garamond, serif;
}
.index-container .index-image {
  grid-area: index-image;
}
.index-container .index-image img {
  box-sizing: border-box;
  border: 1px solid black;
  width: 100%;
}
.index-container footer {
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.about-container {
  height: -moz-fit-content;
  height: fit-content;
  background-color: #121105;
  color: #121105;
  border: 0.5px solid black;
  border-bottom: none;
  margin: 2em 3em 3em 3em;
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr;
  grid-template-rows: 4em 10% repeat(3, 1fr) 4em;
  grid-template-areas: "header" "about-heading" "about-drum" "about-ultimate" "about-yoga" "footer";
}
.about-container .name {
  color: #121105;
}
.about-container a {
  color: #121105;
  height: 100%;
}
.about-container img {
  max-width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0.5em;
}
.about-container section {
  margin: 1em;
}
.about-container header {
  background-color: #e4d9c3;
}
.about-container .about-heading {
  background-color: #121105;
  font: 2.25em EB Garamond, serif;
  color: #e4d9c3;
  grid-area: about-heading;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 2em 0 0;
}
.about-container .about-drum {
  grid-area: about-drum;
  background-color: #e4d9c3;
  box-sizing: border-box;
  border: 10px solid #e4d9c3;
  height: -moz-fit-content;
  height: fit-content;
  margin: 1em 4em;
}
.about-container .inner-drum {
  display: flex;
  box-sizing: border-box;
  border: 20px solid #121105;
  font: 1.5em EB Garamond, serif;
}
.about-container .about-ultimate {
  background-color: #e4d9c3;
  grid-area: about-ultimate;
  display: flex;
  box-sizing: border-box;
  border: 10px solid #e4d9c3;
  height: -moz-fit-content;
  height: fit-content;
  margin: 1em 4em;
}
.about-container .about-ultimate img {
  max-width: 300px;
  height: -moz-fit-content;
  height: fit-content;
}
.about-container .inner-ultimate {
  display: flex;
  box-sizing: border-box;
  border: 20px solid #121105;
  font: 1.5em EB Garamond, serif;
}
.about-container .about-yoga {
  background-color: #e4d9c3;
  grid-area: about-yoga;
  display: flex;
  box-sizing: border-box;
  border: 10px solid #e4d9c3;
  height: -moz-fit-content;
  height: fit-content;
  margin: 1em 4em;
}
.about-container .inner-yoga {
  display: flex;
  box-sizing: border-box;
  border: 20px solid #121105;
  font: 1.5em EB Garamond, serif;
}
.about-container footer {
  border-top-color: #e4d9c3;
}
.about-container footer .name {
  color: #e4d9c3;
}
.about-container footer a {
  color: #e4d9c3;
}

.portfolio-container {
  height: -moz-fit-content;
  height: fit-content;
  margin: 2em 3em;
  border: 0.5px solid black;
  box-sizing: border-box;
  background-color: #e4d9c3;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 4em repeat(2, 1fr) 4em;
  grid-template-areas: "header header header" "portfolio-1 portfolio-2 portfolio-3" "portfolio-4 portfolio-5 portfolio-6" "footer footer footer";
  justify-content: space-between;
}
.portfolio-container header {
  color: #e4d9c3;
}
.portfolio-container img {
  box-sizing: border-box;
  border: 1px solid black;
  border: 10px solid #e4d9c3;
  border-width: 2px;
  width: 250px;
  height: 200px;
}
.portfolio-container #portfolio-1 {
  padding: 1em;
  grid-area: portfolio-1;
  margin: 1em;
  color: #e4d9c3;
  font: 1.5em EB Garamond, serif;
  background-color: #121105;
  box-sizing: border-box;
  border: 1px solid black;
}
.portfolio-container .outer-portfolio {
  box-sizing: border-box;
  margin: 2em;
  border: 20px solid #121105;
}
.portfolio-container #portfolio-2 {
  padding: 1em;
  grid-area: portfolio-2;
  margin: 1em;
  color: #e4d9c3;
  font: 1.5em EB Garamond, serif;
  background-color: #121105;
  box-sizing: border-box;
  border: 1px solid black;
}
.portfolio-container .outer-portfolio {
  box-sizing: border-box;
  margin: 2em;
  border: 20px solid #121105;
}
.portfolio-container #portfolio-3 {
  padding: 1em;
  grid-area: portfolio-3;
  margin: 1em;
  color: #e4d9c3;
  font: 1.5em EB Garamond, serif;
  background-color: #121105;
  box-sizing: border-box;
  border: 1px solid black;
}
.portfolio-container .outer-portfolio {
  box-sizing: border-box;
  margin: 2em;
  border: 20px solid #121105;
}
.portfolio-container #portfolio-4 {
  padding: 1em;
  grid-area: portfolio-4;
  margin: 1em;
  color: #e4d9c3;
  font: 1.5em EB Garamond, serif;
  background-color: #121105;
  box-sizing: border-box;
  border: 1px solid black;
}
.portfolio-container .outer-portfolio {
  box-sizing: border-box;
  margin: 2em;
  border: 20px solid #121105;
}
.portfolio-container #portfolio-5 {
  padding: 1em;
  grid-area: portfolio-5;
  margin: 1em;
  color: #e4d9c3;
  font: 1.5em EB Garamond, serif;
  background-color: #121105;
  box-sizing: border-box;
  border: 1px solid black;
}
.portfolio-container .outer-portfolio {
  box-sizing: border-box;
  margin: 2em;
  border: 20px solid #121105;
}
.portfolio-container #portfolio-6 {
  padding: 1em;
  grid-area: portfolio-6;
  margin: 1em;
  color: #e4d9c3;
  font: 1.5em EB Garamond, serif;
  background-color: #121105;
  box-sizing: border-box;
  border: 1px solid black;
}
.portfolio-container .outer-portfolio {
  box-sizing: border-box;
  margin: 2em;
  border: 20px solid #121105;
}
.portfolio-container h2 {
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-bottom: 1px solid #e4d9c3;
}

.contact-container {
  height: 95%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 4em 1fr 4em;
  margin: 2em 3em;
  box-sizing: border-box;
  background-color: #e4d9c3;
  border: 0.5px solid black;
  color: #121105;
}
.contact-container header {
  grid-area: 1/1/2/span 3;
  color: #e4d9c3;
}
.contact-container form {
  grid-area: 2/2/3/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}
.contact-container form .name {
  display: flex;
  width: 100%;
  margin-bottom: 1em;
  margin-left: 0;
  font: 2em EB Garamond, serif;
}
.contact-container form .name #name {
  box-sizing: border-box;
  border: 2px solid #121105;
  border-radius: 5%;
  width: 25%;
  margin-left: 2.75em;
  padding: 1em;
  background-color: #f1f1f1;
}
.contact-container form .email {
  display: flex;
  margin-bottom: 1em;
  width: 100%;
  font: 2em EB Garamond, serif;
}
.contact-container form .email #email {
  box-sizing: border-box;
  border: 2px solid #121105;
  border-radius: 5%;
  width: 35%;
  margin-left: 3em;
  padding: 1em;
  background-color: #f1f1f1;
}
.contact-container form .message {
  margin-bottom: 1em;
  display: flex;
  width: 100%;
  font: 2em EB Garamond, serif;
}
.contact-container form .message #message {
  box-sizing: border-box;
  border: 2px solid #121105;
  border-radius: 5%;
  box-sizing: border-box;
  width: 50%;
  margin-left: 0.75em;
  padding: 1em 0.5em 15em;
  background-color: #f1f1f1;
}
.contact-container form #submit {
  box-sizing: border-box;
  border: 1px solid #121105;
  border-radius: 5%;
  margin-left: 5em;
  padding: 0.5em 2em;
  background-color: #5c7c07;
  font: 1.5em EB Garamond, serif;
  color: #e4d9c3;
}
.contact-container form #submit:hover {
  background-color: #121105;
}
.contact-container footer {
  grid-area: 3/1/3/span 3;
}

.success {
  background-color: #dfc39a;
  display: flex;
  justify-content: center;
  color: #121105;
  font: 10em EB garamond, serif;
}/*# sourceMappingURL=style.css.map */